@import "tailwindcss";

:root {
  --background: #F8F4E1;
  --foreground: #543310;
  --primary: #543310;
  --secondary: #74512D;
  --accent: #AF8F6F;
  --accent-gold: #D97706;
  --accent-earth: #78350F;
  --accent-spirit: #9F1239;
  --accent-dark: #2D241E;
}

@theme {
  --color-background: #f8f4e1;
  --color-foreground: #543310;
  --color-primary: #543310;
  --color-secondary: #74512d;
  --color-accent: #af8f6f;
  --color-accent-gold: #d97706;
  --color-accent-earth: #78350f;
  --color-accent-spirit: #9f1239;
  --color-accent-dark: #2d241e;

  --font-plus-jakarta: var(--font-plus-jakarta);
  --font-cormorant: var(--font-cormorant);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-plus-jakarta), sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-cormorant), serif;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
